body {
  background-color: #00004d;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

header {
  font-size: 1.5em;
  background-image: linear-gradient(hsl(240, 60%, 15%, 50%), black), url("images/background.jpeg");
  background-size: cover;
  margin: -7px;
  padding: 20% 10% 20% 10%;
  vertical-align:middle;
}

header p {
  font-size: 1.3em;
  font-weight: 50;
  padding: 5px;
}

header h1 {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}

nav {
  background-color: white;
  margin: 5%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 50;
  padding: 5px;
}

nav ul {
  display: inline;
  width: 100%;
  background-color: red;
}

nav ul li {
  display: inline;
  border: 1px solid #361540;
}
