body {
  background-color: #361540;
  color: white;
  font-family: Calibri, Helvetica, serif;
  font-size: 1.5em;
}

header {
  text-align: center;
  border: 1px solid white;
  margin: 30px;
  padding: 15% 0;
  vertical-align:middle;
}

header p {
  font-size: 1.3em;
  font-weight: 50;
  padding: 5px;
}

header h1 {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}

nav {
  background-color: white;
  width: 90%;
  color: #361540;
  margin: 5%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 50;
  padding: 5px;
}

nav ul {
  display: inline;
  width: 100%;
  background-color: red;
}

nav ul li {
  display: inline;
  border: 1px solid #361540;
  width: 50%;
}
