body {
  background-color: #090a36;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main{
  background: rgb(19,15,66);
  background: linear-gradient(0deg, rgba(19,15,66,1) 0%, rgba(60,29,107,1) 38%, rgba(31,54,133,1) 100%);
}

header {
  font-size: 1.5em;
  background-image: linear-gradient(hsl(240, 60%, 15%, 40%), black), url("images/background.jpeg");
  background-size: cover;
  padding: 250px 10%;
  height: 350px;
}

header div {
  width: 60%;
  display: inline-block;
}

header p {
  font-weight: 50;
  padding: 50px;
}

header h1 {
  font-weight: 500;
  margin: 0;
}

nav {
  background-color: black;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: 50;
  padding: 25px 0;
  height: 75px;
}

ul li {
  display: inline;
  padding: 10px;
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  border-bottom: 2px solid white;
  cursor: pointer;
}

section {
  width: 80%;
  text-align:center;
  margin: auto;
  padding: 50px;
  font-size: 1.2em;
}

.notice {
  color: black;
  background-color: white;
  padding: 50px;
}

.notice a{
  color: black;
}


.photo {
  display: inline;
  width: 50%;
  background-color: white;
  margin: 0;
}

#about{
  min-height: 750px;
  padding: 125px;
}

.about_me {
  display: inline-block;
  width: 50%;
  text-align: left;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  padding: 50px;
}

.projects {
  padding: 40px;
}

.project_thumbnail {
  width: 360px;
  height: 200px;
  object-fit: cover;
  padding: 0 5px;
  border-bottom: 10px solid white;
  float: left;
}

.project_info {
  z-index: 2;
  text-align: left;
  width: 65%;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 30px;
  margin: 0;
}

.project_title {
  margin: -40px auto auto -40px;;
  background-color: white;
  color: black;
  padding: 10px;
  width: 500px;
  transform: skew(25deg);
}

.links a{
  display: block;
  background-color: #27278d;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-left: 5px solid white;
  margin-bottom: 5px;
  width: 300px;
}

.links a:hover{
  background-color: #4f4fe0;
}

.links p{
  margin: 5px 0;
}

footer {
  background-color: black;
  text-align: center;
  /*display: inline;*/
  margin: 0;
  padding: 5px;
  margin-bottom: -5%;
}

.heading2{
  background-color: white;
  color: black;
  padding: 20px;
  width: 400px;
  margin: 5px auto;
  box-shadow: 20px 20px rgba(0,0,0,0.5);
  transform: skew(25deg);
}

.heading2 h2, .project_title h3{
  transform:skew(-25deg);
  padding: 0;
  margin: 0;
}

.project_title h3{
  padding-left: 10px;
}

#socials{
  background-color: rgba(0,0,0,0.5);
  margin: 50px auto;
}

.social_link{
  display: inline-block;
  margin: 40px;
}

.social_link img{
  width: 100px;
  height: 100px;
  object-fit:contain;
}

.social_link a{
  color: white;
  text-decoration: none;
}

.social_link a:hover{
  text-decoration: underline;
}

